
.overlay {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  & > .row {
    margin-top: 10%;
    text-align: center
  }
}


.overlay-form {
  padding-top: 10px;
  position: absolute;
  width:100%;
  height:100%;
  background: $simpelightblue;
  color: $white;
  z-index: 99;
  & > legend {
    color: $white;
  }
  & > input {
    width: 75%;
    margin: 0 auto;
    color: $simpeblue;
  }
  & > button {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 25%;
    background-color: $simpeblue;
    color: $simpyellow;
  }

  & > img {
    max-height: 50%;
  }

}

.error-box{
  background: grey;
}



.container-fluid {
  height: 100%;
  position: absolute;
  width: 100%;

  & > .row {
    height: inherit;

    & > .col {
      height: inherit;
      text-align: center;
    }
  }
}

.side {
  background-color: $simpyellow;
  padding: 0;
}

.player-info-section {
  & > table {
    margin-bottom: 20px;
    width: 100%;
    display: none;
}

  & > button {
    display: block;
    height: 15%;
    width: 100%;
  }
}

th {
  text-align: center;
  width: 33%;

  & > img {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
  }
}

.barchart {
  border-top: 10px solid $simpeblue;
  height: 150px;
  background-color: $simpeblue;
  padding: 5px;
}

.td-bar {
  position: relative;

  & > .bar {
    left: 10%;
    position:absolute;
    bottom:0;
    height: 100%;
    width: 70%;
    background-color: $simpyellow;
    opacity: .7;
    color:$red;
  }
}

.main-area {
  text-align: center;
  background-image: url('/assets/images/homescream.jpg');
}

.game-board{
  position: relative;
  bottom: 0;
  width: 50%;
  margin: 0 auto;
}

.played-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.cell {
  padding-top: 33.33333%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.inboard{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15%;
}


.winner {
  visibility: hidden;
}

.homescream {
  position: absolute;
  top: 0;
  left: 0;
  width: 135%;
}


.col{
  border: 1px solid black;
}
